// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColor: "washed-red" ;
$sidebarBgColor: "light-gray" ;
$textColor: "mid-gray" ;
$sidebarTextColor: "light-silver" ;
$headlineColor: "mid-gray" ;
$headingColor: "gray" ;
$bodyLinkColor: "hot-pink" ;
$navLinkColor: "near-black" ;
$sidebarLinkColor: "near-black" ;
$footerTextColor: "silver" ;
$buttonTextColor: "near-white" ;
$buttonBgColor: "black" ;
$buttonHoverTextColor: "white" ;
$buttonHoverBgColor: "blue" ;
$borderColor: "washed-red" ;